.circle{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.circle input{
width: 200px;
height: 200px;
border-radius: 50%;
text-align: center;
font-size: 78px;
border: dotted;
}

.txcenter{
    display: flex;
align-items: center;
justify-content: center;
}

.txcenter button {
    margin: 2px 2px 2px 2px;
}
